/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-family: Garamond;
  font-size: 100%;
}

header {
  padding: 10px;
  margin: 10px;
}

nav {
  margin:20px;
}

section {
  padding: 10px;
  margin: 10px;
}

p {
  line-height: 1.5;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul,
ol {
  padding: 0em;
  margin: 0 0 0 1em;
}

ul ul,
ol ul {
  margin-bottom: 1;
}

li {
  line-height: 1.5;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */

/*  SECTIONS  ============================================================================= */
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF Six */

.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_6_of_6 {
    width: 100%; 
  }
  .span_5_of_6 {
    width: 100%; 
  }
  .span_4_of_6 {
    width: 100%; 
  }
  .span_3_of_6 {
    width: 100%; 
  }
  .span_2_of_6 {
    width: 100%; 
  }
  .span_1_of_6 {
    width: 100%; 
  }
}

/* Clearfix class =============================================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }